@charset "utf-8";
/* CSS Document */

body {
  font-family: Roboto,arial,sans-serif, opensans-regular-webfont ,  'opensans-bold-webfont',balkeno-webfont,opensans-extrabold-webfont,  opensans-regular-webfont Arial;
  margin: 0;
  padding: 0;
}
 @font-face { 
  font-family:'opensans-bold-webfont';
  src:url('./fonts/opensans-bold-webfont.eot');
  src:url('./fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/opensans-bold-webfont.woff') format('woff'), url('./fonts/opensans-bold-webfont.woff') format('woff'), url('./fonts/opensans-bold-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
 @font-face {
  font-family:'balkeno-webfont';
  src:url('./fonts/balkeno-webfont.eot');
  src:url('./fonts/balkeno-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/balkeno-webfont.woff') format('woff'), url('./fonts/balkeno-webfont.woff') format('woff'), url('./fonts/balkeno-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
 @font-face {
  font-family:'opensans-extrabold-webfont';
  src:url('./fonts/opensans-extrabold-webfont.eot');
  src:url('./fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/opensans-extrabold-webfont.woff') format('woff'), url('./fonts/opensans-extrabold-webfont.woff') format('woff'), url('./fonts/opensans-extrabold-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
 @font-face {
  font-family:'opensans-regular-webfont';
  src:url('./fonts/opensans-regular-webfont.eot');
  src:url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/opensans-regular-webfont.woff') format('woff'), url('./fonts/opensans-regular-webfont.woff') format('woff'), url('./fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
   font-family: 'SapientSansRegular';
   src: url('./fonts/sapisrg_.eot');
   src: url('./fonts/sapisrg_.eot?#iefix') format('embedded-opentype'), url('./fonts/sapisrg_.woff') format('woff'), url('./fonts/sapisrg_.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'SapientSansBold_gdi';
   src: url('./fonts/SapientSansBold_gdi.eot');
   src: url('./fonts/SapientSansBold_gdi.eot?#iefix') format('embedded-opentype'), url('./fonts/SapientSansBold_gdi.woff') format('woff'), url('./fonts/SapientSansBold_gdi.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'SapientSansLight';
   src: url('./fonts/sapisl__.eot');
   src: url('./fonts/sapisl__.eot?#iefix') format('embedded-opentype'), url('./fonts/sapisl__.woff') format('woff'), url('./fonts/sapisl__.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'SapientSansMedium';
   src: url('./fonts/sapism_.eot');
   src: url('./fonts/sapism_.eot?#iefix') format('embedded-opentype'), url('./fonts/sapism_.woff') format('woff'), url('./fonts/sapism_.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'opensans-italic-webfont';
   src: url('./fonts/opensans-italic-webfont.eot');
   src: url('./fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/opensans-italic-webfont.woff') format('woff'), url('./fonts/opensans-italic-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}


