
// Breakpoints - Standard - Start from
$breakpoint-xs: 320px;
$breakpoint-s: 480px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;

// Breakpoints - Upto range
$breakpoint-xs-max: 0px 480px;
$breakpoint-s-max: 0px 767px;
$breakpoint-m-max: 0px 992px;
$breakpoint-l-max: 0px 1200px;