@import "library/breakpoint";
@import "_variables";

.App {
  width: 90%;
  margin: 0 auto;

  @include breakpoint($breakpoint-m) {
    width: 70%;
  }

  .dk_container{
    display: none !important;
  }

  .App-header {
    height: 150px;
    padding: 20px;
    color: #666;
    text-align: center;

    .App-logo {
      height: 80px;
    }

    .App-title {
      font-size: 1.5em;
    }
  }

  form{

    .row{
      margin-bottom: 1rem;

      .input{

        .form-control{
          font-family: "Roboto";
          display: block;
          width: 100%;
          height: calc(2.25rem + 2px);
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

          &:focus{
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
          }
        }
      }
    }
  }

  .quill{
      
    .ql-container {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fefcfc;
    }

    .ql-editor {
      min-height: 18em;
    }

    /* Snow Theme */
    .ql-snow.ql-toolbar {
      display: block;
      background: #eaecec;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .ql-editor {
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      &:focus{
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      }
    }

    /* Bubble Theme */
    .ql-bubble .ql-editor {
      border: 1px solid #ced4da;
      border-radius: 3px;
    }

    /* Set dropdown font-families */
    .ql-font span[data-value="balkeno"]::before {
      font-family:'balkeno-webfont';
      content: "Balkeno";
    }
    .ql-font span[data-value="opensans-regular"]::before {
      font-family:'opensans-regular-webfont';
      content: "OpenSans";
    }
    .ql-font span[data-value="roboto"]::before {
      font-family: "Roboto";
      content: "Roboto";
    }
    .ql-font span[data-value="sapient-sans"]::before {
      font-family: "SapientSansRegular";
      content: "SapientSans";
    }

    /* Set content font-families */
    .ql-font-balkeno {
      font-family:'balkeno-webfont';
    }
    .ql-font-opensans-regular {
      font-family:'opensans-regular-webfont';
    }
    .ql-font-roboto {
      font-family: "Roboto";
    }
    .ql-font-sapient-sans {
      font-family: "SapientSansRegular";
    }
  }

  .themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
    text-align: left;

    select{
      padding: 5px;
      border-radius: 3px;
      font-family: "Roboto";
    }
  }

  .editor-preview{
    font-family: Helvetica,Roboto,arial,sans-serif, opensans-regular-webfont ,  'opensans-bold-webfont',balkeno-webfont,opensans-extrabold-webfont,  opensans-regular-webfont Arial;
  
    .quill{

      .ql-editor{

        img{
          width: 100%;
        }
      }
    }
  }

  .buttonContainer{
    text-align: right;
    margin: 50px 0;

    button{
      margin-left: 10px;

      &.previewPage{
        display: inline-block !important;
      }
    }
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
